:root {
  --bg-green-d: #a8e890;
  --bg-green-l: #c9f4aa;
  --green-l: #b5f1cc;
  /* --bg-green-d: #12161e;
  --bg-green-l: #161a2b; */
  --black: #000000;
  --yellow: #f86300;

  --g: #a8e890;
  --llg: #e5fdd1;
  -teal: #b5f1cc;
  --lg: #c9f4aa;

  /* Fonts */
  --cursive1: "Kalam", cursive;
  --cursive2: "Tangerine", cursive;
  --monospace: "Inconsolata", monospace;
  --serif: "Roboto Slab", serif;
  --san-serif-1: "Titillium Web", sans-serif;
  --san-serif-2: "Ubuntu", sans-serif;

  --pad-l: 4rem;
}
a {
  color: var(--black);
}
a:hover {
  color: var(--yellow);
}
body {
  cursor: default;
  font-family: var(--san-serif-1);
  background-color: var(--bg-green-l);
  color: var(--black) !important;
}
body::-webkit-scrollbar {
  width: 5px;
}

/* Track */
body::-webkit-scrollbar-track {
  background: var(--bg-green-l);
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: var(--black);
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: var(--yellow);
}
/* Navbar */
nav {
  background-color: rgb(108, 188, 76);
}
.navbar {
  padding: 0 var(--pad-l);
  z-index: 10;
}
.navbar-brand {
  color: var(--black);
  font-family: 'Handlee', cursive;
  font-weight: 700;
  font-size: 1.6rem;
  cursor: default;
  margin-right: 5px;
}
.nav-link {
  padding-left: 2.5rem !important;
  font-family: var(--san-serif-2);
  font-size: 1.1rem;
  color: var(--black);
}
.nav-link:hover {
  color: #00ffea;
}
.navbar-text {
  color: rgb(48, 109, 1);
}

/* Header */
header {
  height: 100vh;
}
video {
  position: fixed;
  min-width: 100vw;
  min-height: 100vh;
  z-index: -1000;
}
.header-blur {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #090b106f;
  /* backdrop-filter: blur(6px); */
  text-align: center;
}
header h1 {
  color: var(--bg-green-l);
  text-shadow: 2px 2px var(--black);
  font-family: var(--cursive2);
  font-size: 12rem;
  cursor: default;
  transition: font-size 0.3s ease-in-out;
  position: relative;
}
header h1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%; /* move the underline to the center */
  transform: translateX(-50%) scaleX(0); /* center the underline horizontally and hide it */
  width: 0; /* set the initial width to 0 */
  height: 2px;
  background-color: var(--bg-green-d);
  box-shadow: 2px 2px var(--black);
  transition: transform 0.2s ease-out, width 0.2s ease-out; /* add a transition effect to both transform and width */
  transform-origin: center; /* set the transform origin to the center */
}
header h3 {
  color: var(--bg-green-d);
  text-shadow: 1px 1px var(--black);
  cursor: default;
  font-family: var(--cursive1);
  transition: font-size 0.3s ease-in-out;
}
header h1:hover::after {
  width: 100%; /* set the width to 100% to expand the underline */
  transform: translateX(-50%) scaleX(1); /* center the underline horizontally and expand it from the center */
}

header h1:hover {
  font-size: 14rem;
}
header h3:hover {
  font-size: rem;
}
header h3:hover #me {
  color: var(--yellow);
}

.section-title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin: 3rem 0;
  margin-top: 3rem;
  margin-bottom: 2rem;
}
/* about */
/* .about .empty-container {
  width: 100%;
  padding: 0.5rem;
} */
.about {
  padding-top: 3rem;
  background-color: var(--bg-green-l);
}
.about-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about .row {
  width: 100%;
  margin-bottom: 30px;
}
.about .img-border-div.abs {
  position: absolute;
  left: 7rem;
  right: 2rem;
  transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}
.about .img-border-div.abs:hover {
  right: 1rem;
  left: 6rem;
  box-shadow: 2px 2px 10px black;
}
.about .img-border-div {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px var(--black);
  border-radius: 30px;
  /* background-color: var(--bg-green-d); */
  overflow: hidden;
  max-width: 400px;
  max-height: 100%;
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.706);
}
.about img {
  width: 100%;
  height: 100%;
}
.about .img-border-div:hover {
  /* background-color: var(--yellow); */
  background-position: top;
}

.about .col-lg-4 {
  display: flex;
  position: relative;
  padding-left: 7rem;
  align-items: center;
}
.about .col-lg-8 {
  display: flex;
  padding-right: 8rem;
  align-items: center;
  text-align: justify;
}
.about h6 {
  font-family: var(--san-serif-1);
  font-size: 1.4rem;
  margin-left: 5px;
  margin-top: 20px;
  font-weight: 600;
}
.about .info {
  margin-left: 20px;
  font-family: var(--serif);
  font-size: 1.2rem;
  word-spacing: 5px;
  margin-bottom: 10px;
  font-weight: lighter;
}
.about .info span {
  color: var(--yellow);
}
.about .col-lg-6 h5 {
  font-family: var(--san-serif-1);
  font-weight: 600;
  font-size: 1.4rem;
}
.about .our-team {
  width: 100%;
  padding: 0 10rem;
}
.about .our-team img {
  width: 200px;
  height: 200px;
}
.about .our-team h4 {
  margin-bottom: 20px;
  font-weight: 600;
  text-align: center;
}
.about .our-team .col-4 {
  flex-direction: column;
  display: flex;
  align-items: center;
}
.about .our-team span {
  border-radius: 3px;
  border-left: 3px solid var(--yellow);
  padding-left: 10px;
}
.about .our-team span h5 {
  color: black;
  margin: 0;
  font-weight: 700;
}
.about .our-team span p {
  color: #000000;
  margin: 0;
}
#ajaykumar div {
  padding: 10px 5px 0px 5px;
  margin-bottom: 10px;
  border-radius: 50%;
  background: linear-gradient(to top, var(--bg-green-l), rgb(0, 140, 255));
  /* background-color: var(--darkblue); */
  overflow: hidden;
}
#ansh div {
  padding: 10px 5px 0px 5px;
  margin-bottom: 10px;
  border-radius: 50%;
  background: linear-gradient(to top, var(--bg-green-l), red);
  /* background-color: var(--darkblue); */
  overflow: hidden;
}
#kevin div {
  padding: 10px 5px 0px 5px;
  margin-bottom: 10px;
  border-radius: 50%;
  background: linear-gradient(to top, var(--bg-green-l), rgb(195, 0, 255));
  /* background-color: var(--darkblue); */
  overflow: hidden;
}
.about .skills .skill-container {
  padding-left: 15px;
  margin-left: 5px;
  margin-bottom: 7px;
  border-radius: 2px;
  border-left: 2px solid var(--yellow);
}
.about .skills hr {
  visibility: hidden;
  margin: 0.4rem;
}
.about .skills img {
  width: 20px;
}
.about .skills h6 {
  font-family: var(--san-serif-2);
}
.about .skills .progress {
  background-color: var(--bg-green-l);
  border: 2px solid var(--yellow);
}
.about .skills .progress-bar {
  background-color: var(--yellow);
}

/* projects */
.projects {
  display: flex;
  background-color: var(--bg-green-d);
  justify-content: center;
  align-items: center;
}
#intro {
  background-color: var(--bg-green-d);
}
#method {
  background-color: var(--bg-green-l);
}
#result {
  background-color: var(--bg-green-d);
}
#components {
  background-color: var(--bg-green-l);
}
#code {
  background-color: var(--bg-green-d);
}
.projects-div {
  padding: 1rem 8rem;
}
.projects-container ul {
  text-align: justify;
}
.projects-container ul li {
  margin-top: 1rem;
}
.projects-container h5 {
  font-family: var(--serif);
  font-size: 1.3rem;
}
.projects-container .col-4 {
  padding: 10px 2rem;
}
.projects-container .col-4 .comp-div {
  padding: 1rem;
  border-radius: 20px;
  background-color: var(--bg-green-d);
  position: relative;
  overflow: hidden;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
  transition: transform 0.2s ease-in-out;
}
.projects-container .col-4 .comp-div:hover {
  transform: scale(1.1);
}
.comp-info {
  position: absolute;
  text-align: justify;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(84%);
  transition: transform 0.3s ease;
  padding: 10px 1rem;
  padding-bottom: 5px;
  background-color: rgba(0, 0, 0, 0.406);
}
.comp-div:hover .comp-info {
  transform: translateY(0);
  background-color: rgba(0, 0, 0, 0.5);
}
.comp-info h6 {
  font-family: var(--san-serif-2);
  font-size: 1.2rem;
  color: var(--bg-green-l);
  font-weight: 600;
}
.comp-info hr {
  background-color: var(--bg-green-l);
  margin: 0;
  height: 2px;
  opacity: 100%;
}
.comp-info p {
  font-family: var(--san-serif-2);
  font-size: 1rem;
  font-weight: 400;
  color: var(--bg-green-l);
}
.projects img {
  max-width: 100%;
  border-radius: 10px;
}
#code img {
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
}
.projects-container.code {
  position: relative;
}
#code button {
  position: absolute;
  right: 0;
  background-color: #0f111a;
  color: rgb(167, 171, 182);
  padding: 5px 10px;
  border: none;
  border-radius: 5px;

}
pre {
  /* visibility: hidden; */
  opacity: 0%;
  pointer-events: none;
  position: fixed;
  bottom: 0;
}
.projects-div {
  width: 100%;
}
.project-card {
  /* border: 2px solid transparent; */
  margin: 3rem 0 5rem;
  padding: 1rem 2rem;
  border-radius: 20px;
}
.reversed-row {
  flex-direction: row-reverse;
}
.project-card:hover {
  background-image: linear-gradient(
    to right,
    var(--bg-green-d),
    var(--green-l)
  );
  /* border: 2px solid var(--black); */
}
.reversed-row:hover {
  background-image: linear-gradient(to left, var(--bg-green-d), var(--green-l));
}
.project-image {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0;
  align-items: center;
}
.project-image div {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.project-image div a {
  text-decoration: none;
}
.project-card img {
  width: 100%;
}
.project-details h3 {
  text-align: center;
  font-weight: bold;
  font-family: var(--monospace);
}
.project-details p {
  font-size: 1.1rem;
  font-weight: 500;
  font-family: var(--monospace);
  text-align: justify;
}
.project-tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.project-tags span {
  padding: 3px 8px;
  border: 1.5px solid var(--black);
  border-radius: 100px;
  margin: 5px;
}
/* .project-tags p {
  font-family: var(--san-serif-1);
  margin: 0;
  font-weight: 600;
} */
.project-tags span:hover {
  background-color: var(--yellow);
  color: var(--bg-green-l);
  border-color: var(--yellow);
}
.flex-reverse {
  flex-direction: row-reverse;
}
/* contact */
.contact {
  padding: 2rem 10rem;
  display: flex;
  background-color: var(--bg-green-l);
  justify-content: center;
  align-items: center;
}
.contact-div {
  width: 100%;
}
.contact label,
.contact input,
.contact textarea {
  width: 100%;
}
.contact input,
.contact textarea {
  margin-bottom: 1rem;
  background-color: var(--black);
  color: var(--bg-green-d);
  border: 2px solid var(--black);
  border-radius: 5px;
  font-family: var(--monospace);
  letter-spacing: 1px;
  font-weight: 600;
  padding-left: 5px;
  padding-right: 5px;
}
.contact input:focus,
.contact textarea:focus {
  border: 2px solid var(--bg-green-l);
  outline: 2px solid var(--black);
}
.contact input::placeholder,
.contact textarea::placeholder {
  color: var(--green-l);
  opacity: 0.6;
  font-family: var(--monospace);
}
.contact label {
  font-family: var(--san-serif-1);
  font-size: 1.1rem;
  font-weight: 600;
}
#submit {
  padding: 5px 0;
  background-color: var(--black);
  color: var(--bg-green-d);
  border-radius: 5px;
  width: 100%;
  font-family: var(--san-serif-2);
  font-weight: 600;
  /* border:2px solid var(--black); */
}
#submit.on:hover {
  background-color: var(--yellow);
}
#submit.off:hover {
  /* background-color: rgb(248, 90, 90); */
  box-shadow: 0 0 10px 0px rgb(248, 90, 90);
}
.toast-header {
  background-color: var(--yellow);
  color: var(--bg-green-d);
}
.toast-body {
  background-color: var(--bg-green-d);
  color: var(--yellow);
}
footer {
  background-color: var(--bg-green-d);
  padding: 3rem 0rem;
}
.socials {
  text-align: center;
}
.social-links {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-links a {
  margin: 0 2rem;
}
.social-links i {
  font-size: 2rem;
}
#copyright {
  width: 100%;
  display: flex;
  justify-content: center;
}
#copyright p {
  margin: 0 3px;
  margin-top: 1rem;
  font-size: 1.1rem;
  color: var(--black);
  text-align: center;
}
#crs {
  font-size: 1.3rem !important;
}
#ajaykumar {
  color: var(--yellow) !important;
}
#credits {
  position: fixed;
  bottom: 0;
  right: 10px;
  font-family: var(--cursive1);
}
#mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  visibility: hidden;
  position: fixed;
}
#mobile i {
  font-size: 2rem;
}
#mobile h3 {
  margin-top: 1rem;
  font-weight: 600;
  font-size: 1.2rem;
}

@media screen and (max-width: 1000px) {
  #desktop {
    visibility: hidden;
    position: fixed;
  }
  #mobile {
    visibility: visible;
    position: static;
  }
}
